<mat-accordion multi="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Select Players
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="checkbox-container" formArrayName="playersCheckboxes">
          <div *ngFor="let control of playersFormArray.controls; let i = index" class="checkbox-item">
            <label>
              <mat-checkbox [formControlName]="i"> {{ players[i].name }}</mat-checkbox>
            </label>
          </div>
        </div>
        <button mat-stroked-button type="submit">Confirm Players</button>
      </form>
    </mat-card-content>
  </mat-expansion-panel>
</mat-accordion>


<mat-card *ngIf="gameStarted">
  <app-game></app-game>
</mat-card>


