
<mat-card *ngIf="game">
  <mat-card-header>
    <mat-card-title>Players in game: {{ game.players.length }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <!-- Add more game display logic here, like input fields for scores -->
    <!-- should probably move this logic to the round page so that you can generate teams and start games at the same time...-->
    <div class="grid-container">
      <button mat-stroked-button (click)="onGenerateTeams()">Generate Random Teams</button>
      <button mat-stroked-button (click)="onSoloTeams()">Generate Solo Teams</button>
    </div>
    <ol class="horizontal-list">
      <li *ngFor="let player of game.players">{{ player.name }}</li>
    </ol>
    
    <div *ngFor="let team of teams; let i = index" class="team-list">
      <h3>Team {{i + 1}}:</h3>
      <ol class="horizontal-list">
          <li *ngFor="let player of team">{{ player.name }}</li>
      </ol>
    </div>
  </mat-card-content>

</mat-card>

<mat-card *ngIf="gameWithRounds">
  <h1>Rounds Scorecard</h1>
  <table>
    <thead>
      <tr>
        <th>Teams</th>
        <th>Overall Score</th> <!-- Header for the Overall Score -->

        <th *ngFor="let hole of this.gameHoles; trackBy: trackHole">{{ hole.name }} (Par {{ hole.par }})</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let round of gameWithRounds?.rounds; let roundIndex = index; trackBy: trackRound">
        <td>
          <ng-container *ngFor="let player of round.players; let isLast = last; trackBy: trackPlayer">
            {{ player.name }}<ng-container *ngIf="!isLast">, </ng-container>
          </ng-container>
        </td>
        <td>{{ calculateOverallScore(round.score_array) }}</td> <!-- Display the Overall Score -->

        <td *ngFor="let score of round.score_array; let holeIndex = index; trackBy: trackScore">
          <input type="number" [(ngModel)]="round.score_array[holeIndex]">
        </td>
      </tr>
    </tbody>
  </table>
  <button mat-stroked-button (click)="submitRoundsScorecard(this.gameWithRounds)">Submit scores</button>
</mat-card>




<!-- TEST -->
<!-- <mat-card *ngIf="gameWithRounds">
  <h1>Test Rounds Scorecard</h1>
  <table>
    <tr>
      <th>Teams</th>
      <th *ngFor="let hole of this.gameHoles">{{ hole.name }} (Par {{ hole.par }})</th>
    </tr>
    <ng-container *ngFor="let round of gameWithRounds?.rounds; let roundIndex = index">
      <tr>
        <td>
          <ng-container *ngFor="let player of round.players; let isLast = last">
            {{ player.name }}<ng-container *ngIf="!isLast">, </ng-container>
          </ng-container>
        </td>
        <td *ngFor="let score of round.score_array; let holeIndex = index">
          <input type="number" [(ngModel)]="round.score_array[holeIndex]">
        </td>
      </tr>
    </ng-container>
  </table>
  <button mat-stroked-button (click)="submitRoundsScorecard(this.gameWithRounds)">Submit scores</button>
</mat-card> -->
