<mat-card>
  <mat-table [dataSource]="sortedPlayers" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.name}} </mat-cell>
    </ng-container>
  
    
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef mat-sort-header="score"> Overall Score </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.score}} </mat-cell>
    </ng-container>
  
    
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef mat-sort-header="rating"> Rating </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.rating}} </mat-cell>
    </ng-container>
  

    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef mat-sort-header="rank"> Rank </mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player.rank}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>
